body{
  background-color: yellow;
}
#red,
#green{
  color: yellow;
  font-size: 24px;
  padding: 50px;
  border-radius: 200px;
  box-shadow: 4px 4px 6px;
  background-color: red;
}
#green{
  background-color: green;
}
